<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design Bootstrap</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
	<div class="header" style="padding-bottom: 30px;">
		<h1>Out2Eat</h1>
	</div>
	<div class="row" >
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="card-deck">
			  <div class="card">
			    <img class="card-img-top" src="..." alt="Card image cap">
			    <div class="card-block">
			      <h4 class="card-title"><%= @suggestions[1]['name'] %></h4>
			      <p class="card-text">Location: <%= @suggestions[1]['location'] %></p>
			      <p class="card-text">Phone: <%= @suggestions[1]['phone'] %></p>
			    </div>
			  </div>
			  <div class="card">
			    <img class="card-img-top" src="..." alt="Card image cap">
			    <div class="card-block">
			      <h4 class="card-title"><%= @suggestions[2]['name'] %></h4>
			      <p class="card-text">Location: <%= @suggestions[2]['location'] %></p>
			      <p class="card-text">Phone: <%= @suggestions[2]['phone'] %></p>
			    </div>
			  </div>
			  <div class="card">
			    <img class="card-img-top" src="..." alt="Card image cap">
			    <div class="card-block">
			      <h4 class="card-title"><%= @suggestions[3]['name'] %></h4>
			      <p class="card-text">Location: <%= @suggestions[3]['location'] %></p>
			      <p class="card-text">Phone: <%= @suggestions[3]['phone'] %></p>
			    </div>
			  </div>
			</div>
		</div>

		<div class="col-md-1"></div>
	</div>

    <!-- /Start your project here-->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/tether.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
</body>

</html>