<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'mdb' %>
    <%= javascript_include_tag 'mdb' %>
    <%= javascript_include_tag 'geoStuff' %>
</head>

<body>
	<div class="header" style="padding-bottom: 30px;">
		<h1 style="padding-top: 20px"><a href="/home/index" style="text-decoration:none;color:#fffff!important;">Out2Eat</a></h1>
	</div>
	<div class="row" id="near">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<% if @sug[0] %>
				<div class="card-deck" style="padding-bottom:80px">
				  <div class="card">
				  	<div class="card-img-top" style='width: 100%;'>
	  					<img style="width:100%" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @sug[0]['address'].dup.gsub!(' ', '%20')  %>&zoom=17&scale=false&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C<%= @sug[0]['address'].dup.gsub!(' ', '%20') %>&key=AIzaSyDZuvmaxXPooODOdaNIPO8ux5yHERlFN5U">
					</div>
				    <div class="card-block">
				      <h4 class="card-title"><%= @sug[0]['name'] %></h4>
				      <p class="card-text">Location: <%= @sug[0]['price'] %></p>
				      <p class="card-text">Location: <%= @sug[0]['address'] %></p>
				      <p class="card-text">Phone: <%= @sug[0]['phone'] %></p>
				    </div>
				  </div>
				  <div class="card">
				  	<div class="card-img-top" style='width: 100%;'>
	  					<img style="width:100%" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @sug[1]['address'].dup.gsub!(' ','%20')  %>&zoom=17&scale=false&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C<%= @sug[1]['address'].dup.gsub!(' ', '%20') %>&key=AIzaSyDZuvmaxXPooODOdaNIPO8ux5yHERlFN5U">
					</div>
				    <div class="card-block">
				      <h4 class="card-title"><%= @sug[1]['name'] %></h4>
				      <p class="card-text">Location: <%= @sug[1]['price'] %></p>
				      <p class="card-text">Location: <%= @sug[1]['address'] %></p>
				      <p class="card-text">Phone: <%= @sug[1]['phone'] %></p>
				    </div>
				  </div>
				  <% if @sug[2] %>
					  <div class="card">
					    <div class="card-img-top" style='width: 100%;'>
	  						<img style="width:100%" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @sug[2]['address'].dup.gsub!(' ','%20')  %>&zoom=17&scale=false&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C<%= @sug[2]['address'].dup.gsub!(' ', '%20') %>&key=AIzaSyDZuvmaxXPooODOdaNIPO8ux5yHERlFN5U">
						</div>
					    <div class="card-block">
					      <h4 class="card-title"><%= @sug[2]['name'] %></h4>
				      		<p class="card-text">Location: <%= @sug[2]['price'] %></p>
					      <p class="card-text">Location: <%= @sug[2]['address'] %></p>
					      <p class="card-text">Phone: <%= @sug[2]['phone'] %></p>
					    </div>
					  </div>
				<% end %>

				</div>
			<% end %>
			<% if !@sug[0] %>
				<h1>Error: Nothing to Display</h1>
				<h4 style="color:#FFF">We didn't find anything. This is most likely because nothing matching your preferences is open right now.</h4>

			<% end %>
		</div>

		<div class="col-md-1"></div>
	</div>
		<div class="row" id="home" style="display:none" >
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<% if @home_suggestions[0] %>
				<div class="card-deck" style="padding-bottom:80px">
				  <div class="card">
				  	<div class="card-img-top" style='width: 100%;'>
	  					<img style="width:100%" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @home_suggestions[0]['address'].dup.gsub!(' ', '%20')  %>&zoom=17&scale=false&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C<%= @home_suggestions[0]['address'].dup.gsub!(' ', '%20') %>&key=AIzaSyDZuvmaxXPooODOdaNIPO8ux5yHERlFN5U">
					</div>
				    <div class="card-block">
				      <h4 class="card-title"><%= @home_suggestions[0]['name'] %></h4>
				      <p class="card-text">Price: <%= @home_suggestions[0]['price'] %></p>
				      <p class="card-text">Location: <%= @home_suggestions[0]['address'] %></p>
				      <p class="card-text">Phone: <%= @home_suggestions[0]['phone'] %></p>
				    </div>
				  </div>
				  <div class="card">
				  	<div class="card-img-top" style='width: 100%;'>
	  					<img style="width:100%" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @home_suggestions[1]['address'].dup.gsub!(' ','%20')  %>&zoom=17&scale=false&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C<%= @home_suggestions[1]['address'].dup.gsub!(' ', '%20') %>&key=AIzaSyDZuvmaxXPooODOdaNIPO8ux5yHERlFN5U">
					</div>
				    <div class="card-block">
				      <h4 class="card-title"><%= @home_suggestions[1]['name'] %></h4>
				      <p class="card-text">Price: <%= @home_suggestions[1]['price'] %></p>
				      <p class="card-text">Location: <%= @home_suggestions[1]['address'] %></p>
				      <p class="card-text">Phone: <%= @home_suggestions[1]['phone'] %></p>
				    </div>
				  </div>
				  <% if @home_suggestions[2] %>
					  <div class="card">
					    <div class="card-img-top" style='width: 100%;'>
	  						<img style="width:100%" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @home_suggestions[2]['address'].dup.gsub!(' ','%20')  %>&zoom=17&scale=false&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C<%= @home_suggestions[2]['address'].dup.gsub!(' ', '%20') %>&key=AIzaSyDZuvmaxXPooODOdaNIPO8ux5yHERlFN5U">
						</div>
					    <div class="card-block">
					      <h4 class="card-title"><%= @home_suggestions[2]['name'] %></h4>
				      		<p class="card-text">Price: <%= @home_suggestions[2]['price'] %></p>
					      <p class="card-text">Location: <%= @home_suggestions[2]['address'] %></p>
					      <p class="card-text">Phone: <%= @home_suggestions[2]['phone'] %></p>
					    </div>
					  </div>
				<% end %>

				</div>
			<% end %>
			<% if !@home_suggestions[0] %>
				<h1>Error: Nothing to Display</h1>
				<h4 style="color:#FFF">We didn't find anything near your home zip code. This is most likely because nothing matching your preferences is open right now.</h4>

			<% end %>
		</div>

		<div class="col-md-1"></div>

	</div>
	<script>
		$(function() {
   	 		$( "#zip_button" ).click(function() {
   	 			if (document.getElementById("zip_button").innerHTML == "Show Zip Code Results"){
   	 				document.getElementById("zip_button").innerHTML = "Show Places Near Me";
   	 			}
   	 			else{
   	 				document.getElementById("zip_button").innerHTML = "Show Zip Code Results";
   	 			}
        		$( "#home" ).toggle();

        		$( "#near" ).toggle();
    		});
		});
	</script>
	<div style="padding-bottom:50px;">
		<button  type="button" id="zip_button" class="btn btn-zip" onclick="">Show Zip Code Results</button>
	</div>
</body>

</html>