<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'mdb' %>
    <%= javascript_include_tag 'mdb' %>
    <%= javascript_include_tag 'geoStuff' %>
</head>

<body>
	<div class="header" style="padding-bottom: 30px;">
		<h1 style="padding-top: 20px"><a href="/home/index" style="text-decoration:none;color:#fffff!important;">Out2Eat</a></h1>
	</div>
	<div class="row" >
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="card-deck" style="padding-bottom:80px">
			  <div class="card">
			  	<div class="card-img-top" style='width: 100%;'>
  					<img style="width:100%" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @suggestions[0]['address'] %>&zoom=17&scale=false&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C<%= @suggestions[0]['address'] %>">
				</div>
			    <div class="card-block">
			      <h4 class="card-title"><%= @suggestions[0]['name'] %></h4>
			      <p class="card-text">Location: <%= @suggestions[0]['address'] %></p>
			      <p class="card-text">Phone: <%= @suggestions[0]['phone'] %></p>
			    </div>
			  </div>
			  <div class="card">
			  	<div class="card-img-top" style='width: 100%;'>
  					<img style="width:100%" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @suggestions[1]['address'] %>&zoom=17&scale=false&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C<%= @suggestions[1]['address'] %>">
				</div>
			    <div class="card-block">
			      <h4 class="card-title"><%= @suggestions[1]['name'] %></h4>
			      <p class="card-text">Location: <%= @suggestions[1]['address'] %></p>
			      <p class="card-text">Phone: <%= @suggestions[1]['phone'] %></p>
			    </div>
			  </div>
			  <% if @suggestions[2] %>
				  <div class="card">
				    <div class="card-img-top" style='width: 100%;'>
  						<img style="width:100%" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @suggestions[2]['address'] %>&zoom=17&scale=false&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C<%= @suggestions[2]['address'] %>">
					</div>
				    <div class="card-block">
				      <h4 class="card-title"><%= @suggestions[2]['name'] %></h4>
				      <p class="card-text">Location: <%= @suggestions[2]['address'] %></p>
				      <p class="card-text">Phone: <%= @suggestions[2]['phone'] %></p>
				    </div>
				  </div>
			<% end %>

			</div>
		</div>

		<div class="col-md-1"></div>
	</div>

</body>

</html>