<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Out2Eat</title>

        <!-- CSS -->
        <%= stylesheet_link_tag    'application', media: 'all' %>
    	<%= javascript_include_tag 'application' %>
    	<%= stylesheet_link_tag 'form-elements' %>

    	<%= stylesheet_link_tag 'register' %>

    	<%= javascript_include_tag 'scripts' %>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="/assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>

		<!-- Top menu -->
		<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">Out2Eat</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="top-navbar-1">
				</div>
			</div>
		</nav>

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>Out2Eat</strong></h1>
                            <div class="description">
                            	<p>
	                            	Our goal is to provide you with the perfect night.  Feeling food, drinks, maybe dessert? We've got you covered.
                            	</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	
                        	<form role="form" action="" method="post" class="registration-form">
                        		
                        		<fieldset>
		                        	<div class="form-top">
		                        		<div class="form-top-left">
		                        			<h3><strong>Step 1 / 4</strong></h3>
		                            		<p>Let us know about yourself!</p>
		                        		</div>
		                        		<div class="form-top-right">
		                        		</div>
		                            </div>
		                            <div class="form-bottom">
				                    	<div class="form-group">
				                    		<label class="sr-only" for="form-first-name">First name</label>
				                        	<input type="text" name="form-first-name" placeholder="Name..." class="form-first-name form-control">
				                        </div>
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-about-yourself">Zip Code</label>
				                        	<input type="text" name="form-ZIP" placeholder="ZIP Code" 
				                        				class="form-ZIP form-control" id="ZIP">
				                        </div>
				                        <button type="button" class="btn btn-next">Next</button>
				                    </div>
			                    </fieldset>

			                    <fieldset>
		                        	<div class="form-top">
		                        		<div class="form-top-left">
		                        			<h3>Step 2 / 4</h3>
		                            		<p>Food Preferences:</p>
		                        		</div>
		                        		<div class="form-top-right">
		                        		</div>
		                            </div>
		                            <div class="form-bottom">
				                    	<div class="form-check">
										<label class="form-check-label">
										  <input type="checkbox" class="form-check-input" id="italian" value="option1">
										  Italian
										</label>
										</div>	
				                        <div class="form-check">
										<label class="form-check-label">
										  <input type="checkbox" class="form-check-input" id="mediterranean" value="option2">
										  Mediterranean
										</label>
										</div>
				                        <div class="form-check">
										<label class="form-check-label">
										  <input type="checkbox" class="form-check-input" id="mexican" value="option3">
										  Mexican
										</label>
										</div>
				                        <div class="form-check">
										<label class="form-check-label">
										  <input type="checkbox" class="form-check-input" id="chinese" value="option3">
										  Chinese
										</label>
										</div>
				                        <div class="form-check">
										<label class="form-check-label">
										  <input type="checkbox" class="form-check-input" id="breakfast" value="option3">
										  Breakfast
										</label>
										</div>
										<div class="form-check">
										<label class="form-check-label">
										  <input type="checkbox" class="form-check-input" id="american" value="option3">
										  American
										</label>
										</div>
										<div class="form-check">
										<label class="form-check-label">
										  <input type="checkbox" class="form-check-input" id="fast food" value="option3">
										  Fast Food
										</label>
										</div>
										<div class="form-check">
										<label class="form-check-label">
										  <input type="checkbox" class="form-check-input" id="sushi" value="option3">
										  Sushi
										</label>
										</div>
										<div class="form-check-final">
										<label class="form-check-label">
										  <input type="checkbox" class="form-check-input" id="indian" value="option3">
										  Indian
										</label>
										</div>

				                        <button type="button" class="btn btn-previous">Previous</button>
				                        <button type="button" class="btn btn-next">Next</button>
				                    </div>
			                    </fieldset>

								<fieldset>
			                    <div class="form-top">
		                        		<div class="form-top-left">
		                        			<h3><strong>Step 3 / 4</strong></h3>
		                            		<p>Price Range</p>
		                        		</div>
		                        		<div class="form-top-right">
		                        		</div>
		                            </div>
		                            <div class="form-bottom">
										<div style="text-align: center;" class="slider" id=moneyslider>
											<input type="range" min="1" max="4" value="1" step="1" onchange="showValue(this.value)" />
											<span id="range">$</span>
											<script type="text/javascript">
											function showValue(newValue)
											{
												var x = "$";
												document.getElementById("range").innerHTML = x.repeat(newValue);										
											}
											</script>
										</div>
										<button type="button" class="btn btn-previous">Previous</button>
				                        <button type="button" class="btn btn-next">Next</button>
				                    </div>
			                    </fieldset>

			                    <fieldset>
		                        	<div class="form-top">
		                        		<div class="form-top-left">
		                        			<h3>Step 4 / 4</h3>
		                            		<p>Set up your account:</p>
		                        		</div>
		                        		<div class="form-top-right">
		                        		</div>
		                            </div>
		                            <div class="form-bottom">
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-email">Email</label>
				                        	<input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email">
				                        </div>
				                        <div class="form-group">
				                    		<label class="sr-only" for="form-password">Password</label>
				                        	<input type="password" name="form-password" placeholder="Password..." onclick = "" class="form-password form-control" id="form-password">
				                        </div>
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-repeat-password">Repeat password</label>
				                        	<input type="password" name="form-repeat-password" placeholder="Repeat password..." 
				                        				class="form-repeat-password form-control" id="form-repeat-password">
				                        </div>
				                        <button type="button" class="btn btn-previous">Previous</button>
				                        <button type="submit" class="btn">Show results!</button>
				                    </div>
			                    </fieldset>
			                    
			                    
		                    
		                    </form>
		                    
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>
